BOT_TOKEN=8311746662:AAFZGZxIEP5x668qi_HqxNi79Plb96XP_Y0
WB_ANALYTICS_TOKEN=eyJhbGciOiJFUzI1NiIsImtpZCI6IjIwMjYwMzAydjEiLCJ0eXAiOiJKV1QifQ.eyJhY2MiOjEsImVudCI6MSwiZXhwIjoxNzkyNDY5Njc3LCJpZCI6IjAxOWRhYmFjLTIxMWMtN2I1ZS1hOTkxLTc1ZGRjZDIwMTJlYyIsImlpZCI6NDU5NTQ4MzMsIm9pZCI6NDMyNTQyOSwicyI6MTYxMjYsInNpZCI6IjBiZGRkMDI1LWEyMzEtNDY0NC05ZTA4LWM0NmM5ODM4YTdkOSIsInQiOmZhbHNlLCJ1aWQiOjQ1OTU0ODMzfQ.Ok_L64xG__QaO0ekizS-uP3MGwmdPAP7YibtH1AbUqh4WX50uxWxkVW44FQECrMSzx4RVNHNPQJjK-Zg-KFwQA
WB_CONTENT_TOKEN=eyJhbGciOiJFUzI1NiIsImtpZCI6IjIwMjYwMzAydjEiLCJ0eXAiOiJKV1QifQ.eyJhY2MiOjEsImVudCI6MSwiZXhwIjoxNzkyNDY5Njc3LCJpZCI6IjAxOWRhYmFjLTIxMWMtN2I1ZS1hOTkxLTc1ZGRjZDIwMTJlYyIsImlpZCI6NDU5NTQ4MzMsIm9pZCI6NDMyNTQyOSwicyI6MTYxMjYsInNpZCI6IjBiZGRkMDI1LWEyMzEtNDY0NC05ZTA4LWM0NmM5ODM4YTdkOSIsInQiOmZhbHNlLCJ1aWQiOjQ1OTU0ODMzfQ.Ok_L64xG__QaO0ekizS-uP3MGwmdPAP7YibtH1AbUqh4WX50uxWxkVW44FQECrMSzx4RVNHNPQJjK-Zg-KFwQA
# If one token has access to both categories, you can duplicate the same value:
# WB_ANALYTICS_TOKEN=...
# WB_CONTENT_TOKEN=...

# Optional:
TZ=Europe/Moscow
